<nav class="navbar">
    <div class="nav-links">
        
        <NavLink href="/" class="nav-link" activeClass="active" Match="NavLinkMatch.All">Home</NavLink>
        
        <NavLink href="/about" class="nav-link" activeClass="active">About</NavLink>

        <NavLink href="/services" class="nav-link" activeClass="active">Services</NavLink>
        
        <NavLink href="/contact" class="nav-link" activeClass="active">Contact</NavLink>


    </div>
</nav>
